In [18]:
import pandas as pd
import numpy as np

In [19]:
customer_data= pd.read_csv('olist_customers_dataset.csv')

In [20]:
customer_data.head()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP

In [21]:
customer_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_id               99441 non-null  object
 1   customer_unique_id        99441 non-null  object
 2   customer_zip_code_prefix  99441 non-null  int64
 3   customer_city             99441 non-null  object
 4   customer_state            99441 non-null  object
dtypes: int64(1), object(4)
memory usage: 3.8+ MB

In [22]:
customer_data.describe()

       customer_zip_code_prefix
count              99441.000000
mean               35137.474583
std                29797.938996
min                 1003.000000
25%                11347.000000
50%                24416.000000
75%                58900.000000
max                99990.000000

In [23]:
customer_data.isnull().sum()

customer_id                 0
customer_unique_id          0
customer_zip_code_prefix    0
customer_city               0
customer_state              0
dtype: int64

In [24]:
customer_data.duplicated().sum()

0

## Order Data

In [26]:
order_data= pd.read_csv('olist_orders_dataset.csv')

In [27]:
order_data.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00

In [28]:
order_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       99441 non-null  object
 1   customer_id                    99441 non-null  object
 2   order_status                   99441 non-null  object
 3   order_purchase_timestamp       99441 non-null  object
 4   order_approved_at              99281 non-null  object
 5   order_delivered_carrier_date   97658 non-null  object
 6   order_delivered_customer_date  96476 non-null  object
 7   order_estimated_delivery_date  99441 non-null  object
dtypes: object(8)
memory usage: 6.1+ MB

In [29]:
order_data.describe()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
count,99441,99441,99441,99441,99281,97658,96476,99441
unique,99441,99441,8,98875,90733,81018,95664,459
top,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2018-04-11 10:48:14,2018-02-27 04:31:10,2018-05-09 15:48:00,2018-05-08 23:38:46,2017-12-20 00:00:00
freq,1,1,96478,3,9,47,3,522

In [30]:
order_data.shape

(99441, 8)

In [31]:
order_data.isnull().sum()

order_id                            0
customer_id                         0
order_status                        0
order_purchase_timestamp            0
order_approved_at                 160
order_delivered_carrier_date     1783
order_delivered_customer_date    2965
order_estimated_delivery_date       0
dtype: int64

In [32]:
order_data['order_purchase_timestamp']= pd.to_datetime(order_data['order_purchase_timestamp'], errors='coerce')
order_data['order_approved_at']= pd.to_datetime(order_data['order_approved_at'], errors='coerce')
order_data['order_delivered_carrier_date']= pd.to_datetime(order_data['order_delivered_carrier_date'], errors='coerce')         
order_data['order_delivered_customer_date']= pd.to_datetime(order_data['order_delivered_customer_date'], errors='coerce')   
order_data['order_estimated_delivery_date']= pd.to_datetime(order_data['order_estimated_delivery_date'], errors='coerce')
order_data['order_purchase_timestamp'].min(), order_data['order_purchase_timestamp'].max()

(Timestamp('2016-09-04 21:15:19'), Timestamp('2018-10-17 17:30:18'))

In [33]:
order_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       99441 non-null  object
 1   customer_id                    99441 non-null  object
 2   order_status                   99441 non-null  object
 3   order_purchase_timestamp       99441 non-null  datetime64[ns]
 4   order_approved_at              99281 non-null  datetime64[ns]
 5   order_delivered_carrier_date   97658 non-null  datetime64[ns]
 6   order_delivered_customer_date  96476 non-null  datetime64[ns]
 7   order_estimated_delivery_date  99441 non-null  datetime64[ns]
dtypes: datetime64[ns](5), object(3)
memory usage: 6.1+ MB

In [34]:
#calculating median/mean for 'order_purchase_timestamp' column
valid= order_data.dropna(subset=['order_approved_at'])

In [35]:
valid.info()

<class 'pandas.core.frame.DataFrame'>
Index: 99281 entries, 0 to 99440
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       99281 non-null  object
 1   customer_id                    99281 non-null  object
 2   order_status                   99281 non-null  object
 3   order_purchase_timestamp       99281 non-null  datetime64[ns]
 4   order_approved_at              99281 non-null  datetime64[ns]
 5   order_delivered_carrier_date   97644 non-null  datetime64[ns]
 6   order_delivered_customer_date  96462 non-null  datetime64[ns]
 7   order_estimated_delivery_date  99281 non-null  datetime64[ns]
dtypes: datetime64[ns](5), object(3)
memory usage: 6.8+ MB

In [36]:
lag= (valid['order_approved_at']- valid['order_purchase_timestamp']).dt.total_seconds()/60

In [37]:
lag_mean= lag.mean()
lag_median= lag.median()

Going to take median instead of mean, leaving extreme cases of long approval lag which is unusal
.

In [38]:
lag_median

20.6

In [39]:
#Filling missing Values
mask_1 = order_data['order_approved_at'].isnull()
order_data.loc[mask_1, 'order_approved_at'] = (
    order_data.loc[mask_1, 'order_purchase_timestamp'] + pd.Timedelta(lag_median, unit='m')
)

In [40]:
order_data.isna().sum()

order_id                            0
customer_id                         0
order_status                        0
order_purchase_timestamp            0
order_approved_at                   0
order_delivered_carrier_date     1783
order_delivered_customer_date    2965
order_estimated_delivery_date       0
dtype: int64

In [41]:
order_data.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26

In [42]:
status_count= order_data['order_status'].value_counts()
status_count

order_status
delivered      96478
shipped         1107
canceled         625
unavailable      609
invoiced         314
processing       301
created            5
approved           2
Name: count, dtype: int64

In [43]:
null_delivered_date= order_data[order_data['order_delivered_carrier_date'].isnull()]

stat_count= null_delivered_date['order_status'].value_counts()
stat_count

order_status
unavailable    609
canceled       550
invoiced       314
processing     301
created          5
approved         2
delivered        2
Name: count, dtype: int64

In [44]:
null_delivered_date.shape

(1783, 8)

In [45]:
delivered_orders = order_data[order_data['order_status'] == 'unavailable']
print(delivered_orders)

                               order_id                       customer_id  \
266    8e24261a7e58791d10cb1bf9da94df5c  64a254d30eed42cd0e6c36dddb88adf0
586    c272bcd21c287498b4883c7512019702  9582c5bbecc65eb568e2c1d839b5cba1
687    37553832a3a89c9b2db59701c357ca67  7607cd563696c27ede287e515812d528
737    d57e15fb07fd180f06ab3926b39edcd2  470b93b3f1cde85550fc74cd3a476c78
1160   2f634e2cebf8c0283e7ef0989f77d217  7353b0fb8e8d9675e3a704c60ca44ebe
...                                 ...                               ...
99147  6cf5c427fb11bc5fe8abefa86aa7ba0b  91ac14a1e50bc022eeecf0c2ba37006a
99233  1c7c8ab324927f5b6e52338bd110bef4  95b1767df51d6fa09402267d8de314df
99252  aaab15da689073f8f9aa978a390a69d1  df20748206e4b865b2f14a5eabbfcf34
99348  a69ba794cc7deb415c3e15a0a3877e69  726f0894b5becdf952ea537d5266e543
99415  5fabc81b6322c8443648e1b21a6fef21  32c9df889d41b0ee8309a5efb6855dcb

      order_status order_purchase_timestamp   order_approved_at  \
266    unavailable      2017-11-16 15:09:28 2017-11-16 15:26:57
586    unavailable      2018-01-31 11:31:37 2018-01-31 14:23:50
687    unavailable      2017-08-14 17:38:02 2017-08-17 00:15:18
737    unavailable      2018-01-08 19:39:03 2018-01-09 07:26:08
1160   unavailable      2017-09-27 20:55:33 2017-09-28 01:32:50
...            ...                      ...                 ...
99147  unavailable      2017-10-17 10:53:48 2017-10-19 03:12:43
99233  unavailable      2017-12-23 18:48:09 2017-12-23 18:54:22
99252  unavailable      2018-01-16 14:27:59 2018-01-17 03:37:34
99348  unavailable      2017-08-23 16:28:04 2017-08-28 15:44:47
99415  unavailable      2017-10-10 10:50:03 2017-10-14 18:35:57

      order_delivered_carrier_date order_delivered_customer_date  \
266                            NaT                           NaT
586                            NaT                           NaT
687                            NaT                           NaT
737                            NaT                           NaT
1160                           NaT                           NaT
...                            ...                           ...
99147                          NaT                           NaT
99233                          NaT                           NaT
99252                          NaT                           NaT
99348                          NaT                           NaT
99415                          NaT                           NaT

      order_estimated_delivery_date
266                      2017-12-05
586                      2018-02-16
687                      2017-09-05
737                      2018-02-06
1160                     2017-10-27
...                             ...
99147                    2017-10-27
99233                    2018-01-19
99252                    2018-02-06
99348                    2017-09-15
99415                    2017-10-23

[609 rows x 8 columns]

In [46]:
#filling 2 missing values in 'order_delivered_carrier_date' column

median_deliver_carrier_date = order_data.loc[order_data['order_status'] == 'delivered','order_delivered_carrier_date'].median()

mask= (order_data['order_status'] == 'delivered') & (order_data['order_delivered_carrier_date'].isnull())

order_data.loc[mask, 'order_delivered_carrier_date'] = median_deliver_carrier_date

In [47]:
print(order_data.loc[mask])

                               order_id                       customer_id  \
73222  2aa91108853cecb43c84a5dc5b277475  afeb16c7f46396c0ed54acb45ccaaa40
92643  2d858f451373b04fb5c984a1cc2defaf  e08caf668d499a6d643dafd7c5cc498a

      order_status order_purchase_timestamp   order_approved_at  \
73222    delivered      2017-09-29 08:52:58 2017-09-29 09:07:16
92643    delivered      2017-05-25 23:22:43 2017-05-25 23:30:16

      order_delivered_carrier_date order_delivered_customer_date  \
73222      2018-01-24 16:13:47.500           2017-11-20 19:44:47
92643      2018-01-24 16:13:47.500                           NaT

      order_estimated_delivery_date
73222                    2017-11-14
92643                    2017-06-23

In [48]:
order_data.loc[order_data['order_delivered_carrier_date'].isnull()].shape

(1781, 8)

In [49]:
order_data['order_delivered_carrier_date']= order_data['order_delivered_carrier_date'].fillna(pd.NaT)

In [50]:
order_data.isna().sum()

order_id                            0
customer_id                         0
order_status                        0
order_purchase_timestamp            0
order_approved_at                   0
order_delivered_carrier_date     1781
order_delivered_customer_date    2965
order_estimated_delivery_date       0
dtype: int64

In [51]:
vals= order_data.loc[(order_data['order_status'] == 'delivered') &  (order_data['order_delivered_customer_date'].isnull())]
vals.shape[0]

8

In [52]:
#Calculating Median order_deliverd_customer_date
df2= order_data.dropna(subset=['order_delivered_customer_date'])

deliery_time= (df2['order_delivered_customer_date'] - df2['order_approved_at']).dt.total_seconds() / 60
median_dt= deliery_time.median()

# Filling missing values in 'order_delivered_customer_date'
mask2= order_data['order_delivered_customer_date'].isnull() & (order_data['order_status'] == 'delivered')   
order_data.loc[mask2, 'order_delivered_customer_date'] = (order_data.loc[mask2, 'order_approved_at'] + pd.Timedelta(median_dt, unit='m'))

In [53]:
r= order_data['order_delivered_customer_date'].isnull() & (order_data['order_status'] == 'delivered')   
r.sum()

0

In [54]:
order_data.isna().sum()

order_id                            0
customer_id                         0
order_status                        0
order_purchase_timestamp            0
order_approved_at                   0
order_delivered_carrier_date     1781
order_delivered_customer_date    2957
order_estimated_delivery_date       0
dtype: int64

In [55]:
order_data['order_delivered_customer_date']= order_data['order_delivered_customer_date'].fillna(pd.NaT)

## Payment Data

In [57]:
payment_data= pd.read_csv('olist_order_payments_dataset.csv')
payment_data.head()

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33
1,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39
2,25e8ea4e93396b6fa0d3dd708e76c1bd,1,credit_card,1,65.71
3,ba78997921bbcdc1373bb41e913ab953,1,credit_card,8,107.78
4,42fdf880ba16b47b59251dd489d4441a,1,credit_card,2,128.45

In [58]:
payment_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103886 entries, 0 to 103885
Data columns (total 5 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   order_id              103886 non-null  object
 1   payment_sequential    103886 non-null  int64
 2   payment_type          103886 non-null  object
 3   payment_installments  103886 non-null  int64
 4   payment_value         103886 non-null  float64
dtypes: float64(1), int64(2), object(2)
memory usage: 4.0+ MB

In [59]:
payment_data.isnull().sum()

order_id                0
payment_sequential      0
payment_type            0
payment_installments    0
payment_value           0
dtype: int64

In [60]:
payment_data.duplicated().sum()

0

## Order Data

In [62]:
order_items= pd.read_csv('olist_order_items_dataset.csv')
order_items.head()

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14

In [63]:
order_items.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112650 entries, 0 to 112649
Data columns (total 7 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   order_id             112650 non-null  object
 1   order_item_id        112650 non-null  int64
 2   product_id           112650 non-null  object
 3   seller_id            112650 non-null  object
 4   shipping_limit_date  112650 non-null  object
 5   price                112650 non-null  float64
 6   freight_value        112650 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 6.0+ MB

In [64]:
order_items.isnull().sum()

order_id               0
order_item_id          0
product_id             0
seller_id              0
shipping_limit_date    0
price                  0
freight_value          0
dtype: int64

In [65]:
order_items.duplicated().sum()

0

## Product Data

In [66]:
product_data= pd.read_csv('olist_products_dataset.csv')
product_data.head()

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,44.0,276.0,1.0,1000.0,30.0,18.0,20.0
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,46.0,250.0,1.0,154.0,18.0,9.0,15.0
3,cef67bcfe19066a932b7673e239eb23d,bebes,27.0,261.0,1.0,371.0,26.0,4.0,26.0
4,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,37.0,402.0,4.0,625.0,20.0,17.0,13.0

In [67]:
product_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32951 entries, 0 to 32950
Data columns (total 9 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   product_id                  32951 non-null  object
 1   product_category_name       32341 non-null  object
 2   product_name_lenght         32341 non-null  float64
 3   product_description_lenght  32341 non-null  float64
 4   product_photos_qty          32341 non-null  float64
 5   product_weight_g            32949 non-null  float64
 6   product_length_cm           32949 non-null  float64
 7   product_height_cm           32949 non-null  float64
 8   product_width_cm            32949 non-null  float64
dtypes: float64(7), object(2)
memory usage: 2.3+ MB

In [68]:
product_data.isnull().sum()

product_id                      0
product_category_name         610
product_name_lenght           610
product_description_lenght    610
product_photos_qty            610
product_weight_g                2
product_length_cm               2
product_height_cm               2
product_width_cm                2
dtype: int64

In [69]:
null_vals= (product_data['product_category_name'].isnull()) & (product_data['product_name_lenght'].isnull())
null_vals.sum()

610

In [70]:
#Checking for sum of null values in multiple columns
((product_data['product_category_name'].isnull()) & (product_data['product_photos_qty'].isnull()) & (product_data['product_description_lenght'].isnull()) & (product_data['product_name_lenght'].isnull())).sum()

610

In [71]:
product_data= product_data.dropna()

In [72]:
product_data.isnull().sum()

product_id                    0
product_category_name         0
product_name_lenght           0
product_description_lenght    0
product_photos_qty            0
product_weight_g              0
product_length_cm             0
product_height_cm             0
product_width_cm              0
dtype: int64

## Connecting to SQL

In [2]:
!pip install pymysql

Requirement already satisfied: pymysql in /Users/dia.srivastava.12/anaconda3/envs/ml-env/lib/python3.12/site-packages (1.1.1)

[notice] A new release of pip is available: 24.2 -> 25.2
[notice] To update, run: pip install --upgrade pip

In [3]:
!pip install sqlalchemy

Requirement already satisfied: sqlalchemy in /Users/dia.srivastava.12/anaconda3/envs/ml-env/lib/python3.12/site-packages (2.0.31)
Requirement already satisfied: typing-extensions>=4.6.0 in /Users/dia.srivastava.12/anaconda3/envs/ml-env/lib/python3.12/site-packages (from sqlalchemy) (4.12.1)

[notice] A new release of pip is available: 24.2 -> 25.2
[notice] To update, run: pip install --upgrade pip

In [4]:
from sqlalchemy import create_engine

In [1]:
import pymysql

In [12]:
user= 'root'
password='Ds120302'
host='localhost'
port= 3306
db= 'olist'

In [13]:
engine_mysql = create_engine(f"mysql+pymysql://{user}:{password}@{host}:{port}/{db}")

In [15]:
try: 
    engine_mysql
    print("Connection to the database was successful.")
except Exception as e:
    print(f"An error occurred: {e}")
# Verifying data insertion

Connection to the database was successful.

In [73]:
customer_data.to_sql('customers', con=engine_mysql, if_exists='replace', index=False)
order_data.to_sql('orders', con=engine_mysql, if_exists='replace', index=False)
payment_data.to_sql('payments', con=engine_mysql, if_exists='replace', index=False)
order_items.to_sql('order_items', con=engine_mysql, if_exists='replace', index=False)
product_data.to_sql('products', con=engine_mysql, if_exists='replace', index=False)

32340